@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f3f6;
    font-family: 'Roboto', sans-serif;
}

/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fthumbnails%2F003%2F689%2F228%2Fsmall%2Fonline-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg&tbnid=gf6u-XWFCp9RHM&vet=10CJEBEDMopwFqFwoTCPCsy8af8v4CFQAAAAAdAAAAABAD..i&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Flogin-screen&docid=n8v3YKUT8Cg8kM&w=285&h=200&q=login%20images&ved=0CJEBEDMopwFqFwoTCPCsy8af8v4CFQAAAAAdAAAAABAD");
    background-position: center 85%;
    background-repeat: no-repeat;
}
/* login signup sidebar bg image */